nav{
    background: #EE4D2D;
}
span img{
    width: 22px;
    padding-left: 2px;
}
span {
    font-size: 12px;
    padding: 3px;
    color: white;
}
.cart {
    filter: invert(1);
}
.d-flex {
    display: flex;
    align-items: center; /* Align items vertically */
}
nav .btn{
    background: #EE4D2D; 
    padding: 2px;
    margin: 4px;
    color: white;
}
.modal-backdrop{
    display: none;
}
.cart{
    cursor: pointer;
    transition: ease 0.2s;
}
.cart:hover{
    scale: 1.1;
    transition: ease 0.2s;
}
.nav-top{
    display: flex;
    justify-content: space-between;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 10%;
}
.w-70{
    width: 70%;
}
@media only screen and (max-width: 1023px) {
    .nav-top{
        display: none;
    }
    .logo{
        display: none;
    }
}