nav{
    background: #EE4D2D;
}
span img{
    width: 22px;
    padding-left: 2px;
}
span {
    font-size: 12px;
    padding: 3px;
    color: white;
}
.cart {
    filter: invert(1);
}
.d-flex {
    display: flex;
    align-items: center; /* Align items vertically */
}
.d-flex button{
    background: #EE4D2D; 
    padding: 2px;
    margin: 4px;
    color: white;

}